<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sist.mapper.main-mapper">
	<select id="newsMainData" resultType="NewsVO">
		SELECT news_no,title,detail_img,news_date,news_company FROM news WHERE news_no &lt; 10 ORDER BY news_no
	</select>
	
	<select id="carEfficiency" resultType="CarVO">
		SELECT A.*
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,rownum as num,comefficiency
		FROM(SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,TO_NUMBER(efficiency) as comefficiency
		FROM(SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,(CASE
             WHEN car_efficiency IS NULL THEN '0'
             WHEN car_efficiency LIKE '%~%' THEN SUBSTR(car_efficiency,0,INSTR(car_efficiency,'~',1,1)-1)
             else SUBSTR(car_efficiency,0,INSTR(car_efficiency,' ',1,1)-1) 
             END) AS efficiency FROM car) ORDER BY comefficiency DESC))A
             WHERE num &lt;6
	</select>
	
	<select id="carRegdate" resultType="CarVO">
		SELECT A.*
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,rownum as num,comefficiency
		FROM(SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,TO_NUMBER(efficiency) as comefficiency
		FROM(SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,(CASE
            WHEN car_efficiency IS NULL THEN '0'
            WHEN car_efficiency LIKE '%~%' THEN SUBSTR(car_efficiency,0,INSTR(car_efficiency,'~',1,1)-1)
            else SUBSTR(car_efficiency,0,INSTR(car_efficiency,' ',1,1)-1) 
            END) AS efficiency FROM car) ORDER BY CAR_LAUNCHDATE DESC))A
            where num&lt;6
	</select>
	
	<select id="carPriceList" resultType="CarVO">
		SELECT A.*
        FROM(SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,rownum as num,comprice
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name, TO_NUMBER(REPLACE(price,',','')) AS comprice
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,(CASE
                    WHEN car_price ='미정' THEN '0'
                    WHEN car_price LIKE '%~%' THEN SUBSTR(car_price,0,INSTR(car_price,' ',1,1)-1)
                    else car_price
                    END) AS price
		FROM car)ORDER BY comprice DESC))A
        WHERE num &lt;6
	</select>
	
	<select id="carAccList" resultType="AccVO">
		SELECT product_id, product_name, product_main_img,num 
		FROM (SELECT product_id, product_name, product_main_img,rownum as num 
		FROM (SELECT product_id, product_name, product_main_img 
		FROM acc)) 
		WHERE num&lt;6
	</select>
	
	<select id="carPopularList" resultType="CarVO">
		SELECT A.*
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name,rownum as num
		FROM (SELECT car_num,car_name,car_poster,car_price,car_launchdate,car_efficiency,car_size,car_fueltype,brand_name
		FROM car))A
		WHERE num&lt;9
	</select>
    
    
    <select id="kBrandList" resultType="BrandVO" parameterType="String">
		SELECT brand_name, brand_image, car_company
		from brand
		WHERE car_company=#{car_company}
    </select>
    
    <select id="euBrandList" resultType="BrandVO" parameterType="String">
		SELECT brand_name, brand_image, car_company
		from brand
		WHERE car_company=#{car_company}
    </select>
    
    <select id="aBrandList" resultType="BrandVO" parameterType="String">
		SELECT brand_name, brand_image, car_company
		from brand
		WHERE car_company LIKE '%'||#{car_company}||'%'
    </select>
    
    <select id="amBrandList" resultType="BrandVO" parameterType="String">
		SELECT brand_name, brand_image, car_company
		from brand
		WHERE car_company=#{car_company}
    </select>
</mapper>
