<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sist.mapper.mypage-mapper">
	<!-- 관리자 마이페이지 시승 내역조회 -->
	<select id="adminMypage" resultType="Driver_reserveVO">
		SELECT * FROM driver_reserve
	</select>
	
	<!-- 예약 마이페이지 -->
	<select id="reserveMypage" resultType="Driver_reserveVO" parameterType="String">
	    SELECT model, reserve_date, agency_name, approval_num FROM driver_reserve WHERE id=#{id}
	</select>
	
	<!-- 예약 완료 -->
	<update id="reserveOkUpdate" parameterType="String">
  		UPDATE driver_reserve SET approval_num=1 WHERE id=#{id}
 	</update>
	
	<!-- 예약 취소 -->
	<delete id="reserveDelete" parameterType="String">
		DELETE FROM driver_reserve WHERE id=#{id}
	</delete>
	
	<!-- 액세서리 주문내역 -->
    <select id="accPay" resultType="AccTotalVO" parameterType="String">
	   SELECT  acc.product_name, acc.product_main_img, acc.product_id, acc.product_origin_price, acc.product_origin_price, acc.product_dc_price, acc_pay.quantity 
       FROM acc_pay,acc 
       WHERE acc_pay.product_id=acc.product_id AND acc_pay.id=#{id}
	</select>
</mapper>







