<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PreparedStatement, ResultSet XML:namespace : 자바 package와 동일 -->
<mapper namespace="com.sist.mapper.news-mapper">
	<!-- <select id="newsMainData" resultType="NewsVO"> SELECT * FROM news </select> -->
	<select id="newsDetailData" resultType="NewsVO">
		SELECT * FROM news WEHRE
		no = ${no}
	</select>
	<!-- private int news_no; private String title; private String thumbnail_img; 
		private String detail_img; private String content; private String news_date; 
		private String reporter; private String news_company; -->
	<select id="newsListData" resultType="NewsVO" parameterType="java.util.Map">
		SELECT
		news_no,title,detail_img,content,news_date,reporter,news_company,num
		FROM (SELECT
		news_no,title,detail_img,content,news_date,reporter,news_company,rownum
		as num
		FROM (SELECT
		news_no,title,detail_img,content,news_date,reporter,news_company
		FROM news))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="newsTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/9.0) FROM news
	</select>
</mapper>







