
/*  -----------------------------------------------  */
.main {
	height: 200px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden; 
	width: 877px;
    border-bottom: 2px solid #b3b3b3;
    border-top: 2px solid #b3b3b3;
}



.bg_feature {
	overflow: hidden;
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    height: 350px;
    background: #666;
}

header.title {
	margin-top: 75px;
}
.logoname {
	position: relative;
	top: 10px;
	font-size: 11px;
    letter-spacing: -1px;
}

.sidebar-gutter {
	padding-top: 40px;
}


/* 메인 자동차 목록 css */ 
dl.kr {
 	width: 189px;
	float: left;
	margin-bottom: 0px;
	border-left: 1px solid #e5e5e5;
}

dl.eu {
	width: 436px;
	float: left;
	margin-bottom: 0px;	
	border-left: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	
}

dl.jp {
	width: 126px;
	float: left;
	margin-bottom: 0px;
	border-left: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	
}

dl.us {
	width: 126px;
	float: left;
	margin-bottom: 0px;	
	border-left: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	
}

dt {
	text-align: center;
	font-weight: bold;
	background: #f4f4f4;
	padding: 5px;
}

dd {
	height: 162px !important;
	margin: 0 1px !important;
	line-height: 180% !important;
}

.carmodel {
	height: 162px;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-inline-start: 0px;
}
.carli {
	float: left;
	width: 51px;
	height: 48px;
	line-height: 0;
	text-align: center;
	margin: 2px;
	position: relative;
	list-style: none;
	margin: 3px 5px;
}

.bg_feature {
	overflow: hidden;
    position: absolute;
    top: 220px;
    left: 0;
    width: 100%;
    height: 350px;
    background: #666;
}
